html{
    font-family: 'Montserrat', sans-serif;
    
}
body{
    background-image: url(Background2.jpg);
}
    

table,th,tr{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right:  1px solid #ddd;
    border-top:  1px solid #ddd;
    border-collapse: collapse;
    border-width: thick;
    padding: 15px;
    margin:  20px;

    
}

img{
    padding-bottom: 20px;
    width: 300px;
    height: 300px; 
    position: static;
}

#button{
    padding: 10px;
    margin-top: 20px;
    color:blue
}