html{
     font-family: 'Montserrat', sans-serif;
}

body{
    width:100%;
    width: auto;
    height: auto;
    background-image: url('background.jpg');
    background-size:all;
    
    -webkit-filter:blur(0px); 
	
}



#ACAPOL{
    width: 200px;
    height: 200px;
    margin-left: 500px;
    margin-top: 300px;

 
    
}

h1{
    color:azure;
    
}
table,th,tr{
    
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right:  1px solid #ddd;
    border-top:  1px solid #ddd;
    border-collapse: collapse;
    border-width: thick;
    
 
    padding: 15px;
    margin:  20px;
    position:static;
    color:azure;
    


}

th,tr{
    width: 50%;
}

th:hover{
    background-color: #C0A172;
    
}


.login{
    position: absolute;
    top: 400px;
    left:750px;
    bottom: 100px;
    height: 150px;
    width: 350px;
    
    
}

.login input[type=text]{
    width: 250px;
    height 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 3px;
    color:aliceblue;
   
    font-size: 16px;
    font-weight: 400;
    padding: 4px; 
    margin-top: 10px;
    
}
.login input[type=password]{
    width: 250px;
    height 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 3px;
    color:aliceblue;
   
    font-size: 16px;
    font-weight: 400;
    padding: 4px; 
    margin-top: 10px;
    
}
.login input[type=button]{
    width: 100px;
    height 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 3px;
    color:aliceblue;
    font-size: 16px;
    font-weight: 400;
    padding: 4px; 
    margin-top: 10px;
    
}



.login input[type=button]:hover{
    opacity: 0.8;
    
}



.login input [type=text]:focus{
    outline: none;
    border: 1px solid rgba (255,255,255,0.9);
}
.login input [type=password]:focus{
    outline: none;
    border: 1px solid rgba (255,255,255,0.9);
}

.login input [type=button]:focus{
    opacity: 0.3;
}





