html{
    font-family: 'Montserrat', sans-serif;
    background-image: url('background.jpg');
    background-size:all;
}

body{
    width:100%;
    width: auto;
    height: auto;
    
    
    -webkit-filter:blur(0px); 
	
}



#ACAPOL{
    width: 200px;
    height: 200px;
    margin-left: 500px;
    margin-top: 300px;

 
    
}

h1{
    color:azure;
    
}
table,th,tr{
    
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right:  1px solid #ddd;
    border-top:  1px solid #ddd;
    border-collapse: collapse;
    border-width: thick;
    
 
    padding: 15px;
    margin:  20px;
    position:static;
    color:azure;
    


}

th,tr{
    width: 50%;
}

th:hover{
    background-color: #C0A172;
    
}


.login{
    position: absolute;
    top: 400px;
    left:750px;
    bottom: 100px;
    height: 150px;
    width: 350px;
    
    
}

.login input[type=text]{
    width: 250px;
    height 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 3px;
    color:aliceblue;
   
    font-size: 16px;
    font-weight: 400;
    padding: 4px; 
    margin-top: 10px;
    
}
.login input[type=password]{
    width: 250px;
    height 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 3px;
    color:aliceblue;
    font-size: 16px;
    font-weight: 400;
    padding: 4px; 
    margin-top: 10px;
    
}
.login input[type=button]{
    width: 100px;
    height 30px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 3px;
    color:aliceblue;
    font-size: 16px;
    font-weight: 400;
    padding: 4px; 
    margin-top: 10px;
    
}



.login input[type=button]:hover{
    opacity: 0.8;
    
}



.login input [type=text]:focus{
    outline: none;
    border: 1px solid rgba (255,255,255,0.9);
}
.login input [type=password]:focus{
    outline: none;
    border: 1px solid rgba (255,255,255,0.9);
}

.login input [type=button]:focus{
    opacity: 0.3;
}


footer{
    margin-top: 70px;
    color:azure;
    position: relative;
     overflow: hidden;
   
    
}


footer:before { /*marca de agua*/
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image:url('ACAPOL.png');
    background-repeat: repeat-x;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 30%;
}

#copy {
    padding: 50px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #fff;
} 



/* Popup tooltip*/
.tooltip1,.tooltip2, .tooltip3{
    position: relative;
    display: inline-block; 
}


.tooltip1 .tooltiptext, .tooltip2 .tooltiptext,.tooltip3 .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: #453823;
    color: azure;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    margin-left: 20px;
    position: absolute;
    
}

.tooltip1:hover .tooltiptext ,.tooltip2:hover .tooltiptext ,.tooltip3:hover .tooltiptext {
    visibility: visible;
}

#investigacion img {
    width: 50%;
    height: 50%;
}
#investigacion h2{
    color: azure;
    
}


#Referencias{
    padding-top:70px;
}



