@font-face{
    font-family: "font1";
    src:url("font1.otf");
}

html{
	background-color: #343d46;
    margin: 20px;
    font-family: font1;

}
table {
    border-collapse: collapse;
    width: 90%;
    padding: 15px;
    margin:  20px;
    position:static;


}
a.Image{
    width: 800px;   
    height:400px;

}

#Idolo{
	background-color:  #a7adba;
    padding-left:20px; 
}

#Investigacion{
	background-color: #65737e;
    padding-left: :20px;
    padding-bottom: 20px;

}
p.tabla{
    margin-left: 20px;
}
nav,footer{
	background-color: #4f5b66;
  
}
#Referencias{
    margin-left: 20px;
}
#Datos{
    margin-left: 20px;
}




td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color:  #c0c5ce;
}
h1,h2,h3{
    margin-left: 20px;
}
