
table,th,tr{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right:  1px solid #ddd;
    border-top:  1px solid #ddd;
    border-collapse: collapse;
    border-width: thick;
    padding: 15px;
    margin:  20px;

    
}